body 
{
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  color: #ffffff;
  opacity: 0;
  animation: fade-in 1.5s ease-in 0.3s forwards; 
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes fade-up
{
  0%
  {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100%
  {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  }
  50% {
    box-shadow: 0 0 15px #ffffff, 0 0 25px #ffffff, 0 0 35px #ffffff;
  }
  100% {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  }
}


.logo
{
    width: 60%;
    height: auto;
  animation: fade-up 0.5s;
}


.buttons
{
    width: 79%;
    height: auto;
}

/*Tuşların özellikleri*/ 
.buttons button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 28px;
  margin: 8px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 6px 5px rgb(255, 255, 255);
}

/*Tuşun üzerine mouse ile gelince*/
.buttons button:hover 
{
  background-color: #444;
  transform: translateY(-3px);
  box-shadow: 0 0 10px 8px rgb(255, 221, 1);
}

.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.extra
{
  position: fixed;
  bottom: 75px;
  left: 60%;
  transform: translate(-50%, 50%)
}
main 
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

